#container-text{
	width: 1000px;
	margin: 10px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;}

#banner-text{
	margin-top: 50px;
	height: 100%;
	background-color: #8F6E5D;
	box-shadow: inset 0px 20px 20px -10px rgba(101,78,66,0.5),
				inset 0px -20px 20px -10px rgba(101,78,66,0.5);
	padding: 20px;
}
#text {
	width: 650px;
	color: #F2EDD8;
	text-align: justify;
}
#logo {
	width: 200px;
	height: 200px
}